<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="scara_with_gripper">

  <!-- SCARA Base Link -->
  <link name="base_link">
    <inertial>
      <origin xyz="-2.33602825269394E-08 0.000325855492130904 0.00700152226621419" rpy="0 0 0" />
      <mass value="0.0402568517427835" />
      <inertia
        ixx="1.16860689250314E-05"
        ixy="-1.8570220883558E-11"
        ixz="5.64103689843095E-12"
        iyy="1.1993754297666E-05"
        iyz="-7.8687526683924E-08"
        izz="2.18256266420959E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://scara/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.533333333333333 0.176470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://scara/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- SCARA Link1 -->
  <link name="Link1">
    <inertial>
      <origin xyz="-5.82317828406263E-05 0.0125670372099185 0.106258424386727" rpy="0 0 0" />
      <mass value="0.326072004656768" />
      <inertia
        ixx="0.000175710230688168"
        ixy="1.48740556515632E-09"
        ixz="-1.85135692980239E-07"
        iyy="0.000155118181724295"
        iyz="5.77187163494193E-06"
        izz="0.000168999196132045" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://scara/meshes/Link1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.533333333333333 0.176470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://scara/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint1" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="Link1" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="0" velocity="0" />
  </joint>

  <!-- SCARA Link2 -->
  <link name="Link2">
    <inertial>
      <origin xyz="0.0757980106992246 -2.08571677094531E-06 -0.0051586157715495" rpy="0 0 0" />
      <mass value="0.269351505596376" />
      <inertia
        ixx="7.65002539967446E-05"
        ixy="-2.60368605877457E-09"
        ixz="3.17859629830699E-06"
        iyy="0.000236767952686508"
        iyz="2.56350182000798E-09"
        izz="0.000281158978903039" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://scara/meshes/Link2.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.533333333333333 0.176470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://scara/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint2" type="prismatic">
    <origin xyz="0 0 0.0864" rpy="0 0 -1.5708" />
    <parent link="Link1" />
    <child link="Link2" />
    <axis xyz="0 0 1" />
    <limit lower="0.00" upper="0.071" effort="50" velocity="1" />
  </joint>

  <!-- SCARA Link3 -->
  <link name="Link3">
    <inertial>
      <origin xyz="0.0714052178204697 0.000746521706669515 -0.0279252348818434" rpy="0 0 0" />
      <mass value="0.155288189008471" />
      <inertia
        ixx="3.10970726600027E-05"
        ixy="-7.56646280633992E-07"
        ixz="5.77430535141398E-06"
        iyy="0.000121028450793099"
        iyz="-2.31665870998517E-09"
        izz="0.00014171550680783" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://scara/meshes/Link3.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0.533333333333333 0.176470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://scara/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="joint3" type="revolute">
    <origin xyz="0.177 0 -0.0061" rpy="0 0 0" />
    <parent link="Link2" />
    <child link="Link3" />
    <axis xyz="0 0 -1" />
    <limit lower="-2.8" upper="0" effort="0" velocity="0" />
  </joint>

  <!-- ===================== Panda Gripper ===================== -->
  <!-- 连接SCARA末端到Panda夹爪的连接点 -->
  <!-- 添加一个固定连接将Panda夹爪连接到SCARA末端 -->
  <joint name="scara_to_gripper_joint" type="revolute">
    <!-- 调整这个origin来确保夹爪正确安装 -->
    <!-- 可能需要根据实际安装位置调整xyz和rpy -->
    <origin rpy="3.14 0 0" xyz="0.177 0 -0.03"/>
    <parent link="Link3"/>
    <child link="panda_hand"/>
    <axis xyz="0 0 -1" />
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0" />
  </joint>

  <!-- Panda Gripper Hand -->
  <link name="panda_hand">
    <visual>
      <geometry>
        <mesh filename="package://scara/meshes/hand.glb" scale="0.5 0.5 0.5"/>/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="franka_description/meshes/collision/hand.stl"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="-0.01 0 0.03"/>
      <mass value="0.73"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.0025" iyz="0" izz="0.0017"/>
    </inertial>
  </link>

  <!-- TCP Frame -->
  <link name="panda_hand_tcp"/>
  <joint name="panda_hand_tcp_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.050"/>
    <parent link="panda_hand"/>
    <child link="panda_hand_tcp"/>
  </joint>

  <!-- Left Finger -->
  <link name="panda_leftfinger">
    <visual>
      <geometry>
        <mesh filename="package://scara/meshes/finger.glb" scale="0.5 0.5 0.5"/>
      </geometry>
    </visual>
    <!-- screw mount -->
    <collision>
      <origin rpy="0 0 0" xyz="0 18.5e-3 11e-3"/>
      <geometry>
        <box size="22e-3 15e-3 20e-3"/>
      </geometry>
    </collision>
    <!-- cartriage sledge -->
    <collision>
      <origin rpy="0 0 0" xyz="0 6.8e-3 2.2e-3"/>
      <geometry>
        <box size="22e-3 8.8e-3 3.8e-3"/>
      </geometry>
    </collision>
    <!-- diagonal finger -->
    <collision>
      <origin rpy="0.5235987755982988 0 0" xyz="0 15.9e-3 28.35e-3"/>
      <geometry>
        <box size="17.5e-3 7e-3 23.5e-3"/>
      </geometry>
    </collision>
    <!-- rubber tip with which to grasp -->
    <collision>
      <origin rpy="0 0 0" xyz="0 7.58e-3 45.25e-3"/>
      <geometry>
        <box size="17.5e-3 15.2e-3 18.5e-3"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.015"/>
      <inertia ixx="2.3749999999999997e-06" ixy="0" ixz="0" iyy="2.3749999999999997e-06" iyz="0" izz="7.5e-07"/>
    </inertial>
  </link>

  <!-- Right Finger -->
  <link name="panda_rightfinger">
    <visual>
      <origin rpy="0 0 3.141592653589793" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://scara/meshes/finger.glb" scale="0.5 0.5 0.5"/>
      </geometry>
    </visual>
    <!-- screw mount -->
    <collision>
      <origin rpy="0 0 0" xyz="0 -18.5e-3 11e-3"/>
      <geometry>
        <box size="22e-3 15e-3 20e-3"/>
      </geometry>
    </collision>
    <!-- cartriage sledge -->
    <collision>
      <origin rpy="0 0 0" xyz="0 -6.8e-3 2.2e-3"/>
      <geometry>
        <box size="22e-3 8.8e-3 3.8e-3"/>
      </geometry>
    </collision>
    <!-- diagonal finger -->
    <collision>
      <origin rpy="-0.5235987755982988 0 0" xyz="0 -15.9e-3 28.35e-3"/>
      <geometry>
        <box size="17.5e-3 7e-3 23.5e-3"/>
      </geometry>
    </collision>
    <!-- rubber tip with which to grasp -->
    <collision>
      <origin rpy="0 0 0" xyz="0 -7.58e-3 45.25e-3"/>
      <geometry>
        <box size="17.5e-3 15.2e-3 18.5e-3"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.015"/>
      <inertia ixx="2.3749999999999997e-06" ixy="0" ixz="0" iyy="2.3749999999999997e-06" iyz="0" izz="7.5e-07"/>
    </inertial>
  </link>

  <!-- Finger Pads -->
  <link name="panda_leftfinger_pad"/>
  <joint name="panda_leftfinger_pad_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.02"/>
    <parent link="panda_leftfinger"/>
    <child link="panda_leftfinger_pad"/>
  </joint>

  <link name="panda_rightfinger_pad"/>
  <joint name="panda_rightfinger_pad_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.02"/>
    <parent link="panda_rightfinger"/>
    <child link="panda_rightfinger_pad"/>
  </joint>

  <!-- Finger Joints -->
  <joint name="panda_finger_joint1" type="prismatic">
    <parent link="panda_hand"/>
    <child link="panda_leftfinger"/>
    <origin rpy="0 0 0" xyz="0 0 0.0204"/>
    <axis xyz="0 1 0"/>
    <limit effort="100" lower="0.0" upper="0.035" velocity="0.2"/>
    <dynamics damping="0.3"/>
  </joint>

  <joint name="panda_finger_joint2" type="prismatic">
    <parent link="panda_hand"/>
    <child link="panda_rightfinger"/>
    <origin rpy="0 0 0" xyz="0 0 0.0204"/>
    <axis xyz="0 -1 0"/>
    <limit effort="100" lower="0.0" upper="0.035" velocity="0.2"/>
    <dynamics damping="0.3"/>
  </joint>

</robot>





