<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="scara">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.33602825269394E-08 0.000325855492130904 0.00700152226621419"
        rpy="0 0 0" />
      <mass
        value="0.0402568517427835" />
      <inertia
        ixx="1.16860689250314E-05"
        ixy="-1.8570220883558E-11"
        ixz="5.64103689843095E-12"
        iyy="1.1993754297666E-05"
        iyz="-7.8687526683924E-08"
        izz="2.18256266420959E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.533333333333333 0.176470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-5.82317828406263E-05 0.0125670372099185 0.106258424386727"
        rpy="0 0 0" />
      <mass
        value="0.326072004656768" />
      <inertia
        ixx="0.000175710230688168"
        ixy="1.48740556515632E-09"
        ixz="-1.85135692980239E-07"
        iyy="0.000155118181724295"
        iyz="5.77187163494193E-06"
        izz="0.000168999196132045" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.533333333333333 0.176470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.0757980106992246 -2.08571677094531E-06 -0.0051586157715495"
        rpy="0 0 0" />
      <mass
        value="0.269351505596376" />
      <inertia
        ixx="7.65002539967446E-05"
        ixy="-2.60368605877457E-09"
        ixz="3.17859629830699E-06"
        iyy="0.000236767952686508"
        iyz="2.56350182000798E-09"
        izz="0.000281158978903039" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.533333333333333 0.176470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="prismatic">
    <origin
      xyz="0 0 0.0664"
      rpy="0 0 -1.5708" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.091"
      effort="50"
      velocity="1" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.0714052178204697 0.000746521706669515 -0.0279252348818434"
        rpy="0 0 0" />
      <mass
        value="0.155288189008471" />
      <inertia
        ixx="3.10970726600027E-05"
        ixy="-7.56646280633992E-07"
        ixz="5.77430535141398E-06"
        iyy="0.000121028450793099"
        iyz="-2.31665870998517E-09"
        izz="0.00014171550680783" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.533333333333333 0.176470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.177 0 -0.0061"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.8"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>